<h3> welcome to my app : {{title | titlecase  }} </h3>
<p> line 1 first instruction : {{ 1+1 }} </p>
<p> my first number : {{ myFirstNumber | number }} </p>
<p> today : {{today | date:'medium' }} </p>

<p> salary : {{ salary | currency:'TND' }} </p>


<h3>todos</h3>
<ul>
  <li  *ngFor=" let todo of todos "  > {{todo}} </li>
</ul>


<h3>Employees</h3>
<ul>
  <li *ngFor=" let e of employees "> 
    <div>
      <h5  [style.color]=" e.isNew  ? 'red' : 'blue'   "    > {{e.firstname | uppercase}} {{ e.lastname }}  <span  *ngIf=" e.isNew "  >*</span>  </h5>
      <small> {{ e.address.ville }} </small>
      <small> {{ e.email}} </small>

      <button  [disabled]="e.isNew" (click)="btnClicked(e.email)"  >SEND EMAIL</button>
      
    </div>
  </li>
</ul> 


<!--<img [src]="imgURL" width="50%" alt="">-->


<p [innerHTML]="content"  ></p>


<h6>phone number pipe test</h6>
<p> {{ phonenumber| phone }} </p>